button {
    width: 100%;
    height: 100%;
    font-size: 5em !important;
    background-color: #5c6894;
    color: rgba($color: #fff, $alpha: .7);
}
.o {
    background-color: #273158;
}

.x {
    background-color: #6e85df;
}